Source: libvmod-ip2location
Section: web
Priority: extra
Maintainer: Brett Fitzgerald <brettgfitzgerald@gmail.com>
Build-Depends: debhelper (>= 7), build-essential, python-docutils
Standards-Version: 3.8.1
Vcs-Git: git://github.com/controversy187/libvmod-ip2location.git

Package: libvmod-ip2location
Architecture: any
Depends: varnish, ip2location, ${misc:Depends}
Description: IP2Location vmod for Varnish
